*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  --bg-color: #edf2ff;
  --text-color: #00082f;
  --primary-color: #4263EB;
  --primary-color-dark: #364fc7;
}

body.dark-blue{
  --bg-color: #00082f;
  --text-color: white;
}

body.pink{
  --bg-color: #fff0f6;
  --text-color: #1f000b;
  --primary-color: #D6336C;
  --primary-color-dark: #A61E4D;
}
body.dark-pink{
  --bg-color: #1F000B;
  --text-color: #FFF0F6;
  --primary-color: #D6336C;
  --primary-color-dark: #A61E4D;
}

body{
  background: var(--bg-color);
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
}

a{
  text-decoration: none;
}

.container{
  text-align: center;
  width: 300px;
  margin: 60px auto;
}

img{
  width: 100%;
}

img.avatar{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 3.7px;
  border: 4px solid var(--primary-color);
}

h1{
  margin-top: 24px;
  margin-bottom: 8px;
  font-size: 32px;
}

.username{
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  opacity: 0.8;
  font-size: 18px;
}

ul{
  list-style: none;
  margin: 48px 0;
}


ul li a{
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-color);
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 16px;
  border-radius: 6px;
  transition: background 400ms;
}

ul li a:hover{
  background: var(--primary-color-dark);
}

footer{
  font-weight: 500;
  font-size: 12px;
  opacity: 0.6;
  transition: opacity 400ms;
}

footer:hover{
  opacity: 1;
}

footer a{
  color: var(--text-color);
}